*{
    margin: 0%;
    box-sizing: border-box;
    
}
body{
    display: flex;
    justify-content: center;
    
}
#bg-img{
    position: fixed;
    object-fit: cover;
    z-index: -1;
}
#outer-box{
    background-color: aliceblue;
    margin-top: 100px;
    height: 500px;
    width: 500px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
#inner-box{
    
    height: 75%;
    width: 80%;
}
#p1{
    font-size: 35px;
    margin-bottom: 3px;
}
#p2{
    font-size: 28px;
    margin-top: 3px;
    margin-bottom: 50px;
}
#lab-1{
    font-size: large;
}
#username{
    margin-bottom: 20px;
    padding: 8px;
    padding-right: 75px;
    
}
#username::placeholder{
    font-size: 15px;
}
#lab-2{
    font-size: large;
}
#password{
    padding: 8px;
    padding-right: 75px;

}
#password::placeholder{
    font-size: 15px;
}
#new-reg{
    margin-top: 12px;
    margin-left: 10px;
}
#new-reg-link{
    text-decoration: none;
}
#new-reg-link:hover{
    text-decoration: underline;
}
#submit{
    margin-top: 80px;
    height: 30px;
    width: 300px;
    margin-left: 12%;
}

#submit:hover{
    background-color: gray;
}